<div class="shell">
  <mat-toolbar color="primary" class="shell__toolbar bk-row bk-justify-start bk-items-center bk-gap-8px">
    <button mat-icon-button (click)="toggle()" aria-label="Toggle navigation menu">
      <mat-icon>menu</mat-icon>
    </button>

    <span class="shell__brand bk-hide-xs">Northwind Retail</span>
    <span class="shell__brand shell__brand--short bk-show-xs bk-hide">NR</span>

    <span class="bk-flex"></span>

    <button class="bk-hide-xs" mat-icon-button routerLink="/alerts" aria-label="Alerts">
      <mat-icon>notifications</mat-icon>
    </button>

    <button mat-button
            [matMenuTriggerFor]="profileMenu"
            class="shell__profile"
            aria-label="Account menu">
      <mat-icon>account_circle</mat-icon>
      <span class="bk-hide-lt-md">{{ session?.profile?.displayName }}</span>
    </button>

    <mat-menu #profileMenu="matMenu">
      <button mat-menu-item routerLink="/profile-settings">
        <mat-icon>settings</mat-icon>
        Settings
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        Sign out
      </button>
    </mat-menu>
  </mat-toolbar>

  <mat-sidenav-container class="shell__container">
    <mat-sidenav #sidenav
                 class="shell__sidenav"
                 [mode]="sidenavMode"
                 [opened]="!handset"
                 [fixedInViewport]="handset">
      <mat-nav-list class="shell__nav bk-col">
        <a class="bk-row bk-justify-start bk-items-center bk-gap-12px" mat-list-item
           *ngFor="let item of visibleNavItems()"
           [routerLink]="item.route"
           routerLinkActive="shell__nav-item--active"
           (click)="trackNav(item)">
          <mat-icon>{{ item.icon }}</mat-icon>
          <span class="bk-flex">{{ item.label }}</span>
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="shell__content">
      <div class="bk-page bk-col bk-gap-16px">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
