<section class="profile-settings-detail" fxLayout="column" fxLayoutGap="16px">
  <bk-breadcrumbs [crumbs]="crumbs"></bk-breadcrumbs>

  <div *ngIf="loading" fxLayout="row" fxLayoutAlign="center center" class="profile-settings-detail__loading">
    <mat-spinner diameter="36"></mat-spinner>
  </div>

  <ng-container *ngIf="preference as preference">
    <mat-card class="profile-settings-detail__card" fxLayout="column" fxLayoutGap="12px">
      <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between start" fxLayoutGap="12px">
        <h2 class="profile-settings-detail__title" fxFlex>Preference detail</h2>
        <div fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="end center">
          <button mat-stroked-button (click)="edit()">Edit</button>
          <button mat-raised-button color="warn" (click)="confirmRemove()">Remove</button>
        </div>
      </div>

      <mat-divider></mat-divider>

      <div class="profile-settings-detail__rows" fxLayout="column" fxLayoutGap="8px">
      <div class="detail-row" fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="8px">
        <span class="detail-row__label" fxFlex="180px" fxFlex.lt-sm="auto">Setting</span>
        <span class="detail-row__value" fxFlex>{{ preference.label }}</span>
      </div>
      <div class="detail-row" fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="8px">
        <span class="detail-row__label" fxFlex="180px" fxFlex.lt-sm="auto">Value</span>
        <span class="detail-row__value" fxFlex>{{ preference.value }}</span>
      </div>
      <div class="detail-row" fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="8px">
        <span class="detail-row__label" fxFlex="180px" fxFlex.lt-sm="auto">Updated</span>
        <span class="detail-row__value" fxFlex>{{ preference.updatedOn | date:'mediumDate' }}</span>
      </div>
      </div>
    </mat-card>
  </ng-container>

  <bk-alert-banner *ngIf="error" tone="error" [message]="error"></bk-alert-banner>
</section>
