<section class="disputes-form" fxLayout="column" fxLayoutGap="16px">
  <h1 class="disputes-form__title">{{ editing ? 'Edit' : 'New' }} dispute</h1>

  <mat-card>
    <form [formGroup]="form" (ngSubmit)="submit()" fxLayout="column" fxLayoutGap="12px">
      <div fxLayout="row wrap" fxLayoutGap="16px grid" fxLayout.lt-md="column">
      <mat-form-field appearance="legacy" fxFlex="50" fxFlex.lt-md="100">
        <mat-label>Transaction</mat-label>
        <input matInput formControlName="transactionRef" />
        <mat-error *ngIf="form.controls['transactionRef'].hasError('required')">Transaction is required</mat-error>
      </mat-form-field>

      <mat-form-field appearance="legacy" fxFlex="50" fxFlex.lt-md="100">
        <mat-label>Reason</mat-label>
        <input matInput formControlName="reason" />
        <mat-error *ngIf="form.controls['reason'].hasError('required')">Reason is required</mat-error>
      </mat-form-field>

      <mat-form-field appearance="legacy" fxFlex="50" fxFlex.lt-md="100">
        <mat-label>Amount</mat-label>
        <input matInput type="number" formControlName="amount" />
        <span matPrefix *ngIf="true">&pound;&nbsp;</span>
      </mat-form-field>

      <mat-form-field appearance="legacy" fxFlex="50" fxFlex.lt-md="100">
        <mat-label>Raised</mat-label>
        <input matInput [matDatepicker]="raisedOnPicker" formControlName="raisedOn" />
        <mat-datepicker-toggle matSuffix [for]="raisedOnPicker"></mat-datepicker-toggle>
        <mat-datepicker #raisedOnPicker></mat-datepicker>
      </mat-form-field>
      </div>

      <mat-divider></mat-divider>

      <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px" fxLayoutAlign.lt-sm="stretch stretch">
        <button mat-stroked-button type="button" (click)="cancel()">Cancel</button>
        <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid || saving">
          {{ saving ? 'Saving...' : 'Save' }}
        </button>
      </div>
    </form>
  </mat-card>
</section>
