<section class="alerts-detail" fxLayout="column" fxLayoutGap="16px">
  <bk-breadcrumbs [crumbs]="crumbs"></bk-breadcrumbs>

  <div *ngIf="loading" fxLayout="row" fxLayoutAlign="center center" class="alerts-detail__loading">
    <mat-spinner diameter="36"></mat-spinner>
  </div>

  <ng-container *ngIf="alert as alert">
    <mat-card class="alerts-detail__card" fxLayout="column" fxLayoutGap="12px">
      <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between start" fxLayoutGap="12px">
        <h2 class="alerts-detail__title" fxFlex>Alert detail</h2>
        <div fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="end center">
          <button mat-stroked-button (click)="edit()">Edit</button>
          <button mat-raised-button color="warn" (click)="confirmRemove()">Remove</button>
        </div>
      </div>

      <mat-divider></mat-divider>

      <div class="alerts-detail__rows" fxLayout="column" fxLayoutGap="8px">
      <div class="detail-row" fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="8px">
        <span class="detail-row__label" fxFlex="180px" fxFlex.lt-sm="auto">Trigger</span>
        <span class="detail-row__value" fxFlex>{{ alert.trigger }}</span>
      </div>
      <div class="detail-row" fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="8px">
        <span class="detail-row__label" fxFlex="180px" fxFlex.lt-sm="auto">Channel</span>
        <span class="detail-row__value" fxFlex>{{ alert.channel }}</span>
      </div>
      <div class="detail-row" fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="8px">
        <span class="detail-row__label" fxFlex="180px" fxFlex.lt-sm="auto">Threshold</span>
        <span class="detail-row__value" fxFlex>{{ alert.threshold | currency:'GBP' }}</span>
      </div>
      <div class="detail-row" fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="8px">
        <span class="detail-row__label" fxFlex="180px" fxFlex.lt-sm="auto">Status</span>
        <span class="detail-row__value" fxFlex><bk-status-pill [status]="alert.status"></bk-status-pill></span>
      </div>
      </div>
    </mat-card>
  </ng-container>

  <bk-alert-banner *ngIf="error" tone="error" [message]="error"></bk-alert-banner>
</section>
