<section class="transfers-form" fxLayout="column" fxLayoutGap="16px">
  <h1 class="transfers-form__title">{{ editing ? 'Edit' : 'New' }} transfer</h1>

  <mat-card>
    <form [formGroup]="form" (ngSubmit)="submit()" fxLayout="column" fxLayoutGap="12px">
      <div fxLayout="row wrap" fxLayoutGap="16px grid" fxLayout.lt-md="column">
      <mat-form-field appearance="legacy" fxFlex="50" fxFlex.lt-md="100">
        <mat-label>Reference</mat-label>
        <input matInput formControlName="reference" />
        <mat-error *ngIf="form.controls['reference'].hasError('required')">Reference is required</mat-error>
      </mat-form-field>

      <mat-form-field appearance="legacy" fxFlex="50" fxFlex.lt-md="100">
        <mat-label>Amount</mat-label>
        <input matInput type="number" formControlName="amount" />
        <span matPrefix *ngIf="true">&pound;&nbsp;</span>
      </mat-form-field>

      <mat-form-field appearance="legacy" fxFlex="50" fxFlex.lt-md="100">
        <mat-label>Scheduled</mat-label>
        <input matInput [matDatepicker]="scheduledForPicker" formControlName="scheduledFor" />
        <mat-datepicker-toggle matSuffix [for]="scheduledForPicker"></mat-datepicker-toggle>
        <mat-datepicker #scheduledForPicker></mat-datepicker>
      </mat-form-field>
      </div>

      <mat-divider></mat-divider>

      <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px" fxLayoutAlign.lt-sm="stretch stretch">
        <button mat-stroked-button type="button" (click)="cancel()">Cancel</button>
        <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid || saving">
          {{ saving ? 'Saving...' : 'Save' }}
        </button>
      </div>
    </form>
  </mat-card>
</section>
