<section class="transfers-form bk-col bk-gap-16px">
  <h1 class="transfers-form__title">{{ editing ? 'Edit' : 'New' }} transfer</h1>

  <mat-card>
    <form class="bk-col bk-gap-12px" [formGroup]="form" (ngSubmit)="submit()">
      <div class="bk-row bk-wrap bk-gap-16px bk-col-lt-md">
      <mat-form-field class="bk-flex-50 bk-flex-100-lt-md" appearance="legacy">
        <mat-label>Reference</mat-label>
        <input matInput formControlName="reference" />
        <mat-error *ngIf="form.controls['reference'].hasError('required')">Reference is required</mat-error>
      </mat-form-field>

      <mat-form-field class="bk-flex-50 bk-flex-100-lt-md" appearance="legacy">
        <mat-label>Amount</mat-label>
        <input matInput type="number" formControlName="amount" />
        <span matPrefix *ngIf="true">&pound;&nbsp;</span>
      </mat-form-field>

      <mat-form-field class="bk-flex-50 bk-flex-100-lt-md" appearance="legacy">
        <mat-label>Scheduled</mat-label>
        <input matInput [matDatepicker]="scheduledForPicker" formControlName="scheduledFor" />
        <mat-datepicker-toggle matSuffix [for]="scheduledForPicker"></mat-datepicker-toggle>
        <mat-datepicker #scheduledForPicker></mat-datepicker>
      </mat-form-field>
      </div>

      <mat-divider></mat-divider>

      <div class="bk-row bk-justify-end bk-items-center bk-gap-8px bk-justify-start-lt-sm bk-items-stretch-lt-sm">
        <button mat-stroked-button type="button" (click)="cancel()">Cancel</button>
        <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid || saving">
          {{ saving ? 'Saving...' : 'Save' }}
        </button>
      </div>
    </form>
  </mat-card>
</section>
