<section class="support-chat-form" fxLayout="column" fxLayoutGap="16px">
  <h1 class="support-chat-form__title">{{ editing ? 'Edit' : 'New' }} conversation</h1>

  <mat-card>
    <form [formGroup]="form" (ngSubmit)="submit()" fxLayout="column" fxLayoutGap="12px">
      <div fxLayout="row wrap" fxLayoutGap="16px grid" fxLayout.lt-md="column">
      <mat-form-field appearance="legacy" fxFlex="50" fxFlex.lt-md="100">
        <mat-label>Subject</mat-label>
        <input matInput formControlName="subject" />
        <mat-error *ngIf="form.controls['subject'].hasError('required')">Subject is required</mat-error>
      </mat-form-field>

      <mat-form-field appearance="legacy" fxFlex="50" fxFlex.lt-md="100">
        <mat-label>Last message</mat-label>
        <input matInput [matDatepicker]="lastMessageOnPicker" formControlName="lastMessageOn" />
        <mat-datepicker-toggle matSuffix [for]="lastMessageOnPicker"></mat-datepicker-toggle>
        <mat-datepicker #lastMessageOnPicker></mat-datepicker>
      </mat-form-field>
      </div>

      <mat-divider></mat-divider>

      <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px" fxLayoutAlign.lt-sm="stretch stretch">
        <button mat-stroked-button type="button" (click)="cancel()">Cancel</button>
        <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid || saving">
          {{ saving ? 'Saving...' : 'Save' }}
        </button>
      </div>
    </form>
  </mat-card>
</section>
