<section class="profile-settings-form bk-col bk-gap-16px">
  <h1 class="profile-settings-form__title">{{ editing ? 'Edit' : 'New' }} preference</h1>

  <mat-card>
    <form class="bk-col bk-gap-12px" [formGroup]="form" (ngSubmit)="submit()">
      <div class="bk-row bk-wrap bk-gap-16px bk-col-lt-md">
      <mat-form-field class="bk-flex-50 bk-flex-100-lt-md" appearance="fill">
        <mat-label>Setting</mat-label>
        <input matInput formControlName="label" />
        <mat-error *ngIf="form.controls['label'].hasError('required')">Setting is required</mat-error>
      </mat-form-field>

      <mat-form-field class="bk-flex-50 bk-flex-100-lt-md" appearance="fill">
        <mat-label>Value</mat-label>
        <input matInput formControlName="value" />
        <mat-error *ngIf="form.controls['value'].hasError('required')">Value is required</mat-error>
      </mat-form-field>

      <mat-form-field class="bk-flex-50 bk-flex-100-lt-md" appearance="fill">
        <mat-label>Updated</mat-label>
        <input matInput [matDatepicker]="updatedOnPicker" formControlName="updatedOn" />
        <mat-datepicker-toggle matSuffix [for]="updatedOnPicker"></mat-datepicker-toggle>
        <mat-datepicker #updatedOnPicker></mat-datepicker>
      </mat-form-field>
      </div>

      <mat-divider></mat-divider>

      <div class="bk-row bk-justify-end bk-items-center bk-gap-8px bk-justify-start-lt-sm bk-items-stretch-lt-sm">
        <button mat-stroked-button type="button" (click)="cancel()">Cancel</button>
        <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid || saving">
          {{ saving ? 'Saving...' : 'Save' }}
        </button>
      </div>
    </form>
  </mat-card>
</section>
